.alert {
    border: 0px;
    border-radius: 0;

    @include generic-variations("", $darkbg-text, alert);

    &-info, &-danger, &-warning, &-success {
        color: $darkbg-text;
    }

    &-default {
        a, .alert-link {
            color: $lightbg-text;
        }
    }
}
